<!DOCTYPE html>
<meta lang="en">

<head>
    <meta charset="utf-8">
    <meta title="Author" content="Manideep Bangaru">
    <title> Manideep Bangaru's Page </title>
</head>

<body>
    <header>
        <h1> Welcome to My Page !!! </h1>
    </header>
    <main>
        <p> My Name is {{first_name | capitalize}}</p>
        <p> {{ stuff | safe }}</p>
        <p> {% for topping in favoritePizza %}
                {% if topping == 99 %}
                    {{topping + 1}} <br>
                {% else %}
                    {{topping | capitalize}} <br>
                {% endif %}
            {% endfor %}
        </p>
        <hr>
        {{favoritePizza.3 + 2}}
    </main>
</body>