<html>
    <head>
        <script>
            function outputUpdate(age) {
                document.querySelector('#selected-age').value = age;
            }
            </script>
    </head>
    <body>
        <h2> Fill out the details </h2> 
            <form method="POST">
                {{ form.name.label }}
                {{ form.name() }}
                <br>
                <br>
                {{ form.age.label }}
                {{ form.age(min=20, max=70, step = 5, oninput="outputUpdate(value)") }}
                <output for="age" id="selected-age">{{ form.age.data }}</output>
                <br>
                <br>
                {{ form.submit() }}
            </form>
    </body>
</html>